body,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
}

.bg-gradient-primary {
    background-color: rgba(143, 0, 255, 1);
}

/* ----  TABLAS  ---- */

.table tbody tr:hover {
    background-color: rgba(106, 17, 203, 0.05);
}

table .backcolor {
    background-color: #a780d1;
    color: #40176b;
}

table .backcolor-td {
    background-color: whitesmoke;
}

/* ----  TITULOS  ---- */

h3 {
    color: #40176b;
}

/* ----  BOTONES  ---- */

/* botón ver y botón volver */
.btn-outline-info,
.btn-outline-secondary {
    background-color: #a780d1;
    color: #40176b;
    border: #780dea;
}

.btn-outline-info:hover,
.btn-outline-secondary:hover {
    background-color: #974fe4;
    color: white;
    border: #780dea;
}

/* botón crear */
.btn-outline-primary {
    background-image: linear-gradient(to right, #974fe4, #00FFA3);
    color: #780dea;
}

.btn-outline-primary:hover {
    background-image: #00FFA3;
    color: white;
}

/* botón editar */
.btn-primary {
    background-color: rgba(80, 162, 197);
    color: #6816c1;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(46, 119, 150);
    color: white;
    border: none;
}

/* botón eliminar */
.btn-outline-danger {
    background-color: #00FFA3;
    color: #780dea;
    border: #00FFA3;
}

.btn-outline-danger:hover {
    background-color: #4ad6a3;
    color: white;
    border: #00FFA3;
}

/* ----  NAVBAR  ---- */
.custom-navbar {
    /* padding: 1rem 2rem; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Marca */
.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}

/* Links */
.custom-navbar .nav-link {
    color: #40176b;
    position: relative;
    margin-left: 1rem;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #780dea;
}

/* Subrayado animado del navbar */
.custom-navbar .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-image: linear-gradient(to right, #974fe4, #00FFA3);
    transition: width 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover::after {
    width: 100%;
}

/* Eliminar subrayado en mobile */
@media (max-width: 991.98px) {
    .custom-navbar .nav-link::after {
        display: none;
    }
}


/* ----  SIDE BAR  ---- */
a {
    text-decoration: none;
    color: #6816c1;
}

/* Shows blade */
.text-primary {
    color: #40176b;
}

/* Home blade */
.fecha {
    font-size: larger;
    color: #40176b;
}

/* Tarjeta show requisitos */
.combo-card {
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(78, 115, 223, 0.1);
}

.combo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

/* Check box de Crear Requisito */
.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    border: 1px solid #40176b;
}

.form-check-input:checked {
    background-color: #974fe4;
    border: 2px solid #40176b;
}


/* ----  LOGIN ---- */
.login {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--black-color);
    color: var(--black-color); */
}

.login__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.login__form {
    position: relative;
    z-index: 1;
    background-color: rgb(245, 245, 234, 0.9);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login__title {
    margin-bottom: 20px;
}

.login__inputs {
    margin-bottom: 20px;
}

.login__box {
    position: relative;
    margin-bottom: 15px;
}

.login__input {
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #d7bedf;
    color: black;
}

.login__box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.login__button {
    width: 100%;
    padding: 12px;
    background-color: #a780d1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login__button:hover {
    background-color: #40176b;
    color: antiquewhite;
}

.login__register {
    margin-top: 20px;
}

.login__register a {
    color: #40176b;
}

.login__register a:hover {
    color: #a780d1;
}


/* Formulario de registro de usuario */

/* Formulario de registro de usuario (igual que login) */
.register {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    z-index: -1;
}

.register__form {
    position: relative;
    z-index: 1;
    background-color: rgba(245, 245, 234, 0.9);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register__title {
    margin-bottom: 20px;
    color: black;
}

.register__inputs {
    margin-bottom: 20px;
}

.register__box {
    position: relative;
    margin-bottom: 15px;
}

.register__input {
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #d7bedf;
    color: black;
}

.register__box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
}

.register__button {
    width: 100%;
    padding: 12px;
    background-color: #a780d1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register__button:hover {
    background-color: #40176b;
    color: antiquewhite;
}

.register__login {
    margin-top: 20px;
    color: black;
}

.register__login a {
    color: #40176b;
}

.register__login a:hover {
    color: #a780d1;
}
